
.bodyy{
    overflow: hidden;
    background-color: #f2f5f7;
}

.container-header{
    display: flex;
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 999;
    background-color: #444791;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    font-family: 'Sofia Sans', sans-serif;
}

.nameapp{
    width: 10%;
    font-weight: bold;
    font-size: 18px;
}

.container-end{
    display: flex;
    align-items: center;
    gap: 10px;
}

.container-confing{
    display: flex;

}

.logo-user{
    height: 40px;
}

.container-principal{
    position: relative;
    display: flex;
    overflow-y: scroll !important;
    transition: all 0.6s;
}

.container-principal::-webkit-scrollbar{
    height: 100px;
    width: 6px;
}

.container-principal:active::-webkit-scrollbar{
    width: 8px;
}

.container-principal::-webkit-scrollbar-thumb{
    background-color: rgba(0,0,0,.5);
    border-radius: 0.8rem;
}

.container-flotante{
    display: flex;
    flex-direction: column;
    order: -1;
    position: absolute;
    top: 50px;
    height: 610px;
    width: 5%;
    overflow: none;
    box-shadow: -10px 0px 10px -5px #d0d8dd inset;
    background-color: #eaeef1;
}



.container-main{
    position: relative;
    margin: 0 auto 0 4%;
    top: 109px;
    height: 635px;
    width: 95%;
}

.container-main-ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-main-ul > li {
    width: 20%;
    height: 120px;
	background-color: #FFF;
	text-align: center;
	margin: 1%;
	transition: .3s;
	box-shadow: 2px 2px 2px #CCC;
}

.name-student:before{
    background: url(https://img.icons8.com/bubbles/50/null/user.png)no-repeat;
}