
.container-index{
    display: flex;
    overflow: hidden;
}

.container-fondo{
    width: 60%;
    height: 100%;
}

.logo-fondo{
    width: 110%;
    height: 100%;
}

.login{
    display: grid;
    grid-template-rows: 18% 16% 10% auto;
    width: 40%;
    height: 100hv;
    background-color: #444791;
}

.logo-index-campus{
    position: relative;
    top: 20px;
    left: 20px;
    width: 70px;
}

.titulo-index{
    position: relative;
    width: 95%;
    left: 20px;
    font-size: 60px;
    font-weight: bold;
    color: #FFF;

}

.titulo-index-2{
    position: relative;
    width: 95%;
    font-size: 40px;
    font-weight: 400;
    color: #FFF;
    left: 20px;
}

.datos-users{
    position: relative;
    display: flex;
    flex-direction: column;
    left: 20px;
    width: 60%;
}

.usuario, .contrasena{
    display: flex;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid gray;
    background-color: #FFF;
}

#cod, #pass{
    outline: none;
    border: none;
    background-color: transparent;
    width: 85%;
}

.botones-login{
 
}

.entrar{
    width: 40%;
    height: 35px;
    margin-top: 8px;
    justify-content: center;
    border: none;
    border-radius: 10px;
    outline: none;
    color: rgb(116, 116, 116);
    background-color: #FFF;
    transition: 1s all;
}

.entrar:active{
    transform: scale(0.93);
}


/* style para asistencia*/

*{
    font-family: 'Sofia Sans', sans-serif;
}

.bodyy{
    overflow: hidden;
    background-color: #f2f5f7;
}

.container-header{
    display: flex;
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 999;
    background-color: #444791;
    color: #fff;
    align-items: center;
    justify-content: space-between;
}

.nameapp{
    display: flex;
    align-items: center;
    gap: 10px;
    width: auto;
    font-weight: bold;
    font-size: 26px;
}

.logo-campus{
    width: 45px;
}

.container-end{
    display: flex;
    align-items: center;
    gap: 10px;
}

.container-confing{
    display: flex;

}

.logo-user{
    height: 40px;
}

.boton-info{
    background-color: transparent;
    border: none;
}

.boton-info:hover{
    background-color: #4d50af;
}

#info{
    display: none;
    position: fixed;
    top: 54px;
    left: 76.5%;
    z-index: 999;
    width: 310px;
    height: 200px;
    color:black;
    background-color: #fff;
    box-shadow: -2px 2px 20px #cecbcb;
}

.info-Usuario{
    display: flex;
    align-items: center;
  
    margin: 10px 0 10px 20px;

}


.foto-usuario{
    
}

.info-Usuario-container{
    margin: 0 10px 0 10px;
}

.info-Usuario-correo{
    display: flex;
    text-decoration: none;
    color: gray;
    align-items: center;
    font-size: 13px;

}

.icono-correo{
   margin-right: 8px
}

.opcion-usuario{
   
}

.opcion-usuario > li{
    margin-left: 20px;
    padding: 10px 20px 10px 20px;
    border-top: 1px solid #d0d8dd;
    border-left: none;
    border-right: none;
}

.opcion-usuario > li >a{
    text-decoration: none;
    color: initial;
}

.container-principal{
    position: relative;
    display: flex;
    overflow-y: scroll !important;
    transition: all 0.6s;
}

.container-titulos{
    display: flex;
    position: absolute;
    width: 95%;
    top: 70px;
    justify-content: space-between;
    align-items: center;
    margin-left: 42px;
    font-size: 20px;
    font-weight: bold;
}

.container-titulos>h2{
    position: relative;
    left: 5%;
}

.container-principal-caja{
    position: relative;
    right: 2%;
}

.container-titulos-caja-boton{
    display: flex;
    background: none;
    border: none;
    color: black;
}

.formulario:hover{
    color: blue;
}

.container-principal::-webkit-scrollbar{
    height: 100px;
    width: 6px;
}

.container-principal:active::-webkit-scrollbar{
    width: 8px;
}

.container-principal::-webkit-scrollbar-thumb{
    background-color: rgba(0,0,0,.5);
    border-radius: 0.8rem;
}

.container-flotante{
    order: -1;
    position: absolute;
    top: 50px;
    height: 100vh;
    width: 5%;
    color: black;
    overflow: none;
    box-shadow: -10px 0px 10px -5px #d0d8dd inset;
    background-color: #eaeef1;
    box-sizing: border-box;
}

.container-flotante-listaNavegacion{
    display: flex;
    height: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.container-flotante-listaNavegacion > a{
    display: inherit;
    text-decoration: none;
}

.container-flotante-listaNavegacion > a:hover {
    color: blue;
    text-decoration: underline;
}

.icon{
    font-size: 40px !important;
}


.container-main{
    position: relative;
    margin: 0 auto 0 4%;
    top: 109px;
    height: 100vh;
    width: 95%;
}

.container-main-ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-main-ul > li {
    width: 20%;
    height: 130px;
	background-color: #FFF;
    font-size: 20px;
	text-align: center;
    border-radius: 8px;
	margin: 1%;
	transition: .3s;
	box-shadow: 2px 2px 2px #CCC;
    font-weight: bold;
}

.container-main-ul li > img{
    width: 60px;
}

.container-main-ul li >:nth-child(3){
    color: gray;
    font-size: 12px;
} 


.asist{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(80, 80, 80);
    font-size: 18px;
    margin-top: 5px;
    gap: 5px;
}

.check{
    width: 18px;
}


.name-student:before{
    background: url(https://img.icons8.com/bubbles/50/null/user.png)no-repeat;
}

.container-main-ul > :hover{
    transform: scale(1.1);
}

/* Style para Grupos*/

.container-main-grupos{
    display: flex;
    justify-content: center;
    height: 100vh;
}

.container-tabla{
    position: relative;
    width: auto;
    height: auto;
    top: 21%;
    padding-left: 5%;
}

.head-tabla{
    font-weight: bold;
    font-size: 18px;
}

.filas{
    border: 1px solid black;
}

.columnas{
    padding: 16px 60px 16px 60px;
    border: 1px solid black;
}

.columnas-Grupos{
    padding: 0 180px;
}

@media screen and (max-width: 1350px){

    .container-header{
        height: 70px;
    }

    .container-flotante{
        top: 70px;
        width: 80px;
    }

    .container-titulos{
        top: 92px;
        left: 80px;
        margin-left: 42px;
    }
}

    
